# Mod 6 Challenge

### Part 2: Have Customers Narrow Their Travel Searches Based on Temperature and Precipitation

In [1]:
import pandas as pd
import numpy as np
import requests
import gmaps

from config import g_key

In [2]:
city_data_df = pd.read_csv("data/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Current Description,Max Temp,Cloudiness,Humidity,Rain (inches),Snow (inches),Wind Speed
0,0,ushuaia,AR,-54.80,-68.30,broken clouds,28.40,75,92,0.0,0,4.70
1,1,cabo san lucas,MX,22.89,-109.91,scattered clouds,84.99,40,69,0.0,0,4.70
2,2,nushki,PK,29.55,66.02,clear sky,81.81,0,14,0.0,0,10.58
3,3,kapaa,US,22.08,-159.32,clear sky,86.00,1,62,0.0,0,13.87
4,4,rikitea,PF,-23.12,-134.97,clear sky,70.56,0,70,0.0,0,21.09

In [3]:
city_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Lat                    float64
Lng                    float64
Current Description     object
Max Temp               float64
Cloudiness               int64
Humidity                 int64
Rain (inches)          float64
Snow (inches)            int64
Wind Speed             float64
dtype: object

In [4]:
# configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# Enter max temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your vacation?"))
max_temp = float(input("What is the maximum temperature you would like for your vacation?"))

What is the minimum temperature you would like for your vacation?60
What is the maximum temperature you would like for your vacation?70

In [6]:
#Ask Customer if they want it to be raining or snowing
rain_amount = input("Do you want it to be raining? (yes/no)")
snow_amount = input("Do you want it to be snowing? (yes/no)")

Do you want it to be raining? (yes/no)no
Do you want it to be snowing? (yes/no)no

In [7]:
if rain_amount =='no' and snow_amount == 'no':
    filter_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Rain (inches)"] ==0) &
                                       (city_data_df["Snow (inches)"] ==0)]
elif rain_amount =='no' and snow_amount == 'yes':
    filter_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Rain (inches)"] ==0) &
                                       (city_data_df["Snow (inches)"] > 0.0)]
elif rain_amount =='yes' and snow_amount == 'no':
    filter_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Rain (inches)"] > 0.0) &
                                       (city_data_df["Snow (inches)"] == 0)]
else:
   filter_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Rain (inches)"] > 0.0) &
                                       (city_data_df["Snow (inches)"] > 0.0)]
filter_cities_df

,City_ID,City,Country,Lat,Lng,Current Description,Max Temp,Cloudiness,Humidity,Rain (inches),Snow (inches),Wind Speed
15,15,lata,PT,40.16,-8.33,clear sky,61.00,0,81,0.0,0,3.00
18,18,whitehorse,CA,60.72,-135.05,few clouds,68.00,20,20,0.0,0,8.05
24,24,yellowknife,CA,62.46,-114.35,broken clouds,64.99,75,72,0.0,0,10.29
31,31,ribeira grande,PT,38.52,-28.70,clear sky,67.42,0,79,0.0,0,7.02
33,33,nikolskoye,RU,59.70,30.79,scattered clouds,60.80,40,87,0.0,0,6.71
...,...,...,...,...,...,...,...,...,...,...,...,...
516,516,ivanteyevka,RU,55.97,37.92,broken clouds,66.00,80,82,0.0,0,6.71
522,522,khromtau,KZ,50.25,58.43,scattered clouds,60.26,28,52,0.0,0,4.21
526,526,mogok,MM,22.92,96.50,overcast clouds,67.71,100,100,0.0,0,3.02
538,538,busayra,JO,30.74,35.61,clear sky,65.52,0,50,0.0,0,2.91
548,548,quelimane,MZ,-17.88,36.89,broken clouds,68.00,75,88,0.0,0,3.36

In [8]:
hotel_df = filter_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

              City Country  Max Temp    Lat     Lng Hotel Name
15            lata      PT     61.00  40.16   -8.33
18      whitehorse      CA     68.00  60.72 -135.05
24     yellowknife      CA     64.99  62.46 -114.35
31  ribeira grande      PT     67.42  38.52  -28.70
33      nikolskoye      RU     60.80  59.70   30.79

In [ ]:
params = {
    "radius" : 5000,
    "type" : "lodging",
    "key" : "g_key"
}